:root {
    --myBlue: #122C6D;
    --myDarkPink: #E6514B;
    --myLigtPink: #EEA3A0;
    --myGray: #EEF0F6;
}

body {
    background-color: var(--myGray);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    padding: .3rem .3rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

nav input[type=search] {
    border: solid;
    padding: .5rem 0 .5rem 2rem;
    border-radius: 10px;
    background: url(../images/search\ .png) no-repeat .7rem .5rem;
    background-size: 1rem;
    margin: .5rem 0;
}

nav img {
    width: 2rem;
    height: 2rem;
}

main {
    margin: 1rem;
    display: flex;
}

main aside {
    display: flex;
    flex-direction: column;
    width: 15vw;
    border-radius: 20px 0 0 20px;
    background-color: var(--myBlue);
    min-height: 100vh;
}

main aside ul {
    list-style: none;
    color: white;
    background-color: var(--myBlue);
    border-radius: 20px 0 0 20px;
}

main aside ul li {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    margin-left: 1rem;
    position: relative;
    padding: 1rem 0;
}

main aside ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: var(--myGray);
}

main aside ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background-color: var(--myBlue);
}

main aside ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: var(--myGray);
}

main aside ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background-color: var(--myBlue);
}

main aside ul li img {
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
}

.activeAside {
    color: var(--myBlue);
}

main aside ul li:first-child {
    align-items: flex-end;
}

main aside ul li:first-child img {
    width: 30%;
}

main aside ul li p,
main aside h1 {
    display: none;
}

main aside ul li:first-child {
    padding-bottom: 2rem;
    border-radius: 0 0 20px 0;
}

.activeAside {
    background-color: var(--myGray);
    color: black;
    border-radius: 100px 0 0 100px;
}

main aside .excerciseCard {
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin: auto auto 2rem auto;
    border-radius: 20px;
    padding: 1rem;
    width: 70%;
    height: 30vh;
    display: none;
}

main aside .excerciseCard i {
    margin-left: auto;
}

main aside .excerciseCard img {
    width: 50%;
    height: 50%;
    margin: auto auto;
}

main .mainContent {
    display: flex;
    flex-direction: column;
}

.topContentSec {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
}

.counter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 81vw;
}

.counter table {
    width: 20vw;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: .3em;
    margin-top: 1rem;
    background-color: white;
    padding: .4rem .4rem .4rem 0;
}

.counterChild {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.counterChild svg:nth-child(2) {
    position: absolute;
    right: 69%;
    top: 30%;
}

.counter table td {
    text-align: center;
}

.counter table td img {
    width: 100%;
    height: 100%;
    border-right: 2px solid #a3a3a3;
    display: flex;
}

.counter table tr td:nth-child(n+2) {
    vertical-align: bottom;
    font-weight: bold;
    color: black;
    font-size: 3em;
    width: 50%;
}

#bottomText {
    vertical-align: top;
    color: gray;
    font-size: 2em;
    width: 50%;
}

main .secondTopSec {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .todayStatus {
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    width: 75vw;
    min-height: 40vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 3.36px 26.04px rgba(0, 0, 0, 0.1);
}

main .todayStatus table {
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 2rem 0;
    text-align: center;
    margin: auto;
}

main .todayStatus table td {
    background-color: var(--myGray);
    border-radius: 10px 10px 0 0;
    vertical-align: text-bottom;
    padding-right: .2rem;
    padding-left: .2rem;
    width: 10%;
}

main .todayStatus table tr:nth-child(2n) td:nth-child(2n),
main .todayStatus table tr:nth-child(2n) td:nth-child(2n+1) {
    border-radius: 0 0 10px 10px;
    padding-bottom: 1.2rem;
    font-size: .3em;
}

main .todayStatus table tr:nth-child(2n+1) td:nth-child(2n+1),
main .todayStatus table tr:nth-child(2n+1) td:nth-child(2n) {
    padding-top: 1.2rem;
    color: var(--myBlue);
    font-weight: bold;
}

.filthyTable {
    background-color: var(--myGray);
    border-radius: 10px;
    display: flex;
    border: solid 20px var(--myDarkPink);
    border-right: var(--myGray);
    border-top: var(--myGray);
    border-bottom: var(--myGray);
    width: 80%;
}

.filthyTable tr:nth-child(1) td:nth-child(2) {
    color: black;
}

main .topContentSec .todayStatus .filthyTable .todayWod {
    color: black;
}

main .statisticsSec {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 75vw;
    min-height: 40vh;
    padding: 1.5rem;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0px 3.36px 26.04px rgba(0, 0, 0, 0.1);
}

main .graphHeadings {
    display: flex;
}

main .graphHeadings h4 {
    color: gray;
}

main .graphHeadings h4 {
    margin-left: auto;
}

main .rightLeftGraphParts {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

main .statisticsSec .leftStatic {
    margin-left: 1rem;
    margin-right: auto;
}

main .statisticsSec .leftStatic,
.CircleGraphSec section {
    display: flex;
    flex-direction: column;
}

main .statisticsSec .leftStatic section,
.CircleGraphSec section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0;
}

.CircleGraphSec section {
    position: relative;
}

main .statisticsSec .leftStatic section p,
.CircleGraphSec section p {
    color: gray;
}

main .statisticsSec .leftStatic section:before,
.CircleGraphSec .leftCircleGraph section:before {
    content: '■';
    display: inline-block;
    color: var(--myDarkPink);
    position: absolute;
    font-size: 2em;
    left: -30%;
    bottom: 35%;
    border-radius: 200px;
}

main .statisticsSec .leftStatic section:nth-child(3)::before,
.CircleGraphSec section:nth-child(3):before {
    color: var(--myLigtPink);
}

.CircleGraphSec section {
    margin-left: 1rem;
}

main .statisticsSec .leftStatic section:nth-child(2)::before,
.CircleGraphSec section:nth-child(2):before {
    color: var(--myBlue);
}

main .statisticsSec .rightStatic,
.rightCircleGraph {
    margin-top: auto;
    width: 100%;
    margin-left: auto;
    width: 100%;
}

.rightCircleGraph {
    position: relative;
}

.circleGraphSideCard {
    max-height: 3rem;
    max-width: 6rem;
    margin: 0;
    position: absolute;
    right: -30%;
    bottom: 10vh;
    background: #FFFFFF;
    box-shadow: 0px 3.36px 26.04px rgba(0, 0, 0, 0.1);
    border-radius: 6.72px;
    transform: rotate(-6.69deg);
    display: flex;
}

.circleGraphSideCard h3 {
    color: var(--myBlue);
    font-weight: bold;
    font-size: .6em;
}

.circleGraphSideCard h4 {
    color: black;
    font-size: .4em;
}

.circleGraphSideCard .graphBottomText {
    max-width: 5rem;
    max-height: 2rem;
    padding: 0;
    background-color: white;
}

.circleGraphSideCard p {
    color: gray;
    max-width: 6rem;
    font-size: .3em;
    font-weight: 600;
    position: absolute;
    bottom: 0;
}

.circleGraphSideCard svg {
    max-width: 20px;
    max-height: 20px;
}

main .statisticsSec .rightStatic svg,
.rightCircleGraph img {
    width: 100%;
    height: 100%;
}

.rightCircleGraph {
    margin-left: auto;
}

.rightCircleGraph img {
    margin: 0 0 auto auto;
    width: 60%;
    height: 60%;
}

.graphBottomText {
    background-color: lightslategrey;
    max-width: 2rem;
    /* margin-right: auto; */
}

.graphBottomText img {
    max-width: 8px;
}

main .bottomContentSec {
    display: flex;
    flex-direction: column;
}

main .CircleGraphContent {
    display: flex;
    flex-direction: row;
}

main .CircleGraphSec {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 0px 7.56px 47.88px rgba(0, 0, 0, 0.04);
    border-radius: 25.2px;
    transform: rotate(-6.69deg);
}

main .topPerformerSec {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border-radius: 20px;
    margin-top: 2rem;
    height: 50vh;
    box-shadow: 0px 3.36px 26.04px rgba(0, 0, 0, 0.1);
}

.topPerformerSec {
    display: flex;
    flex-direction: column;
}

.topCardPart {
    display: flex;
    flex-direction: row;
}

.topCardPart button {
    margin-left: auto;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards article {
    width: 30%;
    padding: 1rem;
    border-radius: 19.32px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1em;
    position: relative;
}

.topCardPart h4 {
    font-weight: 600;
    font-size: 16.8px;
    line-height: 25.2px;
}

.topCardPart button {
    width: 20%;
    height: 3vh;
    margin-bottom: 1rem;
    border-radius: 8.4px;
    font-weight: 500;
    font-size: 11.76px;
    line-height: 17.64px;
    border: none;
}

.cards article h5,
.cards article h6 {
    font-weight: 700;
    font-weight: 16.8px;
    line-height: 25.2px;
}

.cards article h5 {
    /* margin-top: .5rem; */
}

.cards article p {
    font-weight: 500;
    font-size: 10.08px;
    line-height: 15.12px;
}

.cards article img:nth-child(2n) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cards article img:nth-child(2n+1) {
    transform: rotate(-6.69deg);
    position: absolute;
    top: 0;
    right: 0;
}

.cards article button {
    width: 90%;
    height: 18%;
    border-radius: 10.92px;
    border: none;
    margin-top: auto;
    font-size: .6em;
}

.cards article:nth-child(3) {
    background-color: var(--myLigtPink);
}

.cards article:nth-child(3) button {
    background-color: rgba(255, 255, 255, 0.53);
}

.cards article:nth-child(2) {
    background-color: var(--myDarkPink);
}

.cards article:nth-child(2) button {
    background-color: rgba(255, 255, 255, 0.53);
}

.cards article:nth-child(1) {
    background-color: var(--myBlue);
}

.cards article:nth-child(1) button {
    background-color: rgba(255, 255, 255, 0.53);
}

@media only screen and (min-width: 768px){
    main .bottomContentSec .circleGraphContent .rightCircleGraph #circleGraphSideCard{
        right: -40%;
        bottom: 18vh;
    }
}

@media only screen and (min-width: 992px) {
    main .bottomContentSec .circleGraphContent .rightCircleGraph #circleGraphSideCard {
        right: -45%;
        bottom: 14vh;
    }
}

@media only screen and (min-width: 1024px) {
    main aside .excerciseCard {
        display: flex;
    }
}

@media only screen and (min-width: 1200px) {
    main .bottomContentSec .circleGraphContent .rightCircleGraph #circleGraphSideCard {
        right: -45%;
        bottom: 18vh;
    }
}

@media only screen and (min-width: 1420px) {

    nav {
        flex-direction: row;
    }

    nav input[type=search] {
        margin-left: auto;
    }

    nav h2 {
        margin: 0 auto 0 0;
    }

    nav img {
        margin-left: 1rem;
    }

    main aside ul li p,
    main aside h1 {
        display: flex;
    }

    main aside {
        width: 25vw;
    }

    main aside ul li img {
        padding-left: 1.2vw;
        padding-right: 1vw;
        margin-left: 0;
        margin-right: 0;
    }

    .counter table tr td:nth-child(n+2) {
        font-size: 6em;
    }

    #bottomText {
        font-size: 2em;
    }

    .counter table td img {
        width: 60%;
        height: 60%;
        margin-left: auto;
        text-align: center;
    }

    main .todayStatus {
        width: 37vw;
    }

    main .todayStatus table tr:nth-child(2n) td:nth-child(2n),
    main .todayStatus table tr:nth-child(2n) td:nth-child(2n+1) {
        font-size: .8em;
    }

    main .todayStatus table td {
        padding-right: .8rem;
        padding-left: .8rem;
    }

    main .statisticsSec {
        width: 37vw;
    }

    main .rightLeftGraphParts {
        flex-direction: row;
    }

    main .secondTopSec {
        display: flex;
        flex-direction: row;
    }

    main .bottomContentSec {
        flex-direction: row;
    }

    main .CircleGraphSec {
        width: 34vw;
    }

    main .topPerformerSec {
        width: 34vw;
    }

    main .bottomContentSec .circleGraphContent .rightCircleGraph #circleGraphSideCard {
        right: -25%;
        bottom: 14vh;
        max-width: 100px;
    }

    .rightCircleGraph img {
        width: 80%;
        height: 80%;
    }

    .topPerformerSec {
        width: 34vw;
    }
}