:root {
    --myBlue: #122C6D;
    --myDarkPink: #E6514B;
    --myLigtPink: #EEA3A0;
    --myGray: #EEF0F6;
}

body {
    background-color: var(--myGray);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    padding: .3rem .3rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

nav input[type=search] {
    border: solid;
    padding: .5rem 0 .5rem 2rem;
    border-radius: 10px;
    background: url(../images/search\ .png) no-repeat .7rem .5rem;
    background-size: 1rem;
    margin: .5rem 0;
}

nav img {
    width: 1.7rem;
    height: 1.7rem;
}

main {
    margin: 1rem;
    display: flex;
}

main aside {
    display: flex;
    flex-direction: column;
    width: 15vw;
    border-radius: 20px 0 0 20px;
    background-color: var(--myBlue);
    min-height: 100vh;
}

main aside ul {
    list-style: none;
    color: white;
    background-color: var(--myBlue);
    border-radius: 20px 0 0 20px;
}

main aside ul li {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    margin-left: 1rem;
    position: relative;
    padding: 1rem 0;
}

main aside ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: var(--myGray);
}

main aside ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background-color: var(--myBlue);
}

main aside ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: var(--myGray);
}

main aside ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background-color: var(--myBlue);
}

main aside ul li img {
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0) invert(1);
}

main aside ul li:first-child {
    align-items: flex-end;
}

main aside ul li:first-child img {
    width: 30%;
}

main aside ul li p,
main aside h1 {
    display: none;
}

main aside ul li:first-child {
    padding-bottom: 2rem;
    border-radius: 0 0 20px 0;
}

.activeAside {
    background-color: var(--myGray);
    color: black;
    border-radius: 100px 0 0 100px;
}

main aside .excerciseCard {
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin: auto auto 2rem auto;
    border-radius: 20px;
    padding: 1rem;
    width: 70%;
    height: 70%;
    display: none;
}

main aside .excerciseCard i {
    margin-left: auto;
}

main aside .excerciseCard img {
    width: 70%;
    height: 70%;
    margin: 2rem auto;
}

main .mainContent {
    display: flex;
    flex-direction: column;
}

.topContentSec {
    display: flex;
    flex-direction: column;
}

.counter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 81vw;
}

.counter table {
    width: 20vw;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 10px;
    text-align: center;
    font-size: .3em;
    margin-top: 1rem;
    background-color: white;
    padding: .4rem .4rem .4rem 0;
}

.counterChild {
    margin-left: auto;
    margin-right: auto;
}

.counter table td {
    text-align: center;
}

.counter table td img {
    width: 100%;
    height: 100%;
    border-right: 2px solid #a3a3a3;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.counter table tr td:nth-child(n+1) {
    /* padding: 0 2.5rem; */
}

.counter table tr td:nth-child(n+2) {
    vertical-align: bottom;
    font-weight: bold;
    color: var(--myDarkPink);
    font-size: 3em;
    width: 50%;
}

#bottomText {
    vertical-align: top;
    color: rgb(86, 175, 51);
    font-size: 2em;
    width: 50%;
}

main .todayStatus {
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    width: 75vw;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

main .todayStatus table {
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 2rem 0;
    text-align: center;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

main .todayStatus table:nth-child(2) {
    /* display: flex; */
    /* margin-left: 0; */
    /* margin-right: 0; */
    /* background-color: brown; */
}

main .todayStatus table:nth-child(2) td:nth-child(3) {
    /* background-color: aqua; */
    /* margin-right: auto; */
    /* margin-left: auto; */
}

main .todayStatus table td {
    background-color: var(--myGray);
    border-radius: 10px 10px 0 0;
    vertical-align: text-bottom;
    padding-right: .2rem;
    padding-left: .2rem;
}

main .todayStatus table tr:nth-child(2n) td:nth-child(2n),
main .todayStatus table tr:nth-child(2n) td:nth-child(2n+1) {
    border-radius: 0 0 10px 10px;
    padding-bottom: 1.2rem;
    font-size: .3em;
}

main .todayStatus table tr:nth-child(2n+1) td:nth-child(2n+1),
main .todayStatus table tr:nth-child(2n+1) td:nth-child(2n) {
    padding-top: 1.2rem;
    color: var(--myBlue);
    font-weight: bold;
}

.filthyTable {
    background-color: var(--myGray);
    border-radius: 10px;
    display: flex;
    border: solid 20px var(--myDarkPink);
    border-right: var(--myGray);
    border-top: var(--myGray);
    border-bottom: var(--myGray);
    width: 80%;
}

.filthyTable tr:nth-child(1) td:nth-child(2) {
    color: black;
}

main .topContentSec .todayStatus .filthyTable .todayWod {
    color: black;
}

main .statisticsSec {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border-radius: 20px;
    margin-top: 2rem;
}

main .graphHeadings {
    display: flex;
}

main .graphHeadings h4 {
    color: gray;
}

main .graphHeadings h4 {
    margin-left: auto;
}

main .rightLeftGraphParts {
    display: flex;
}

main .statisticsSec .leftStatic,
.CircleGraphSec section {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

main .statisticsSec .leftStatic section,
.CircleGraphSec section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0;
    margin-left: 1.5rem;
}

.CircleGraphSec section {}

main .statisticsSec .leftStatic section p,
.CircleGraphSec section p {
    color: gray;
}

main .statisticsSec .leftStatic section:before,
.CircleGraphSec .leftCircleGraph section:before {
    content: '■';
    display: inline-block;
    color: var(--myDarkPink);
    position: absolute;
    font-size: 2em;
    left: -30%;
    bottom: 35%;
    border-radius: 200px;
}

/* .CircleGraphSec .leftCircleGraph section:before {
    left: -30%;
} */

main .statisticsSec .leftStatic section:nth-child(3)::before,
.CircleGraphSec section:nth-child(3):before
{
    color: var(--myLigtPink);
}

main .statisticsSec .leftStatic section:nth-child(2)::before,
.CircleGraphSec section:nth-child(2):before {
    color: var(--myBlue);
}

main .statisticsSec .rightStatic,
.rightCircleGraph {
    margin-top: auto;
    width: 100%;
    margin-left: auto;
    width: 100%;
}

main .statisticsSec .rightStatic svg,
.rightCircleGraph svg {
    width: 100%;
    height: 100%;
}

.rightCircleGraph {
    margin-left: auto;
}

.rightCircleGraph svg {
    margin: 0 0 auto auto;
    width: 60%;
    height: 60%;
}

main .bottomContentSec {
    display: flex;
}

main .CircleGraphContent {
    display: flex;
    flex-direction: row;
}

main .CircleGraphSec {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border-radius: 20px;
    margin-top: 2rem;
}

main .topPerformerSec {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border-radius: 20px;
    margin-top: 2rem;
}

@media only screen and (min-width: 1024px) {

    nav {
        flex-direction: row;
    }

    nav input[type=search] {
        margin-left: auto;
    }

    nav h2 {
        margin: 0 auto 0 0;
    }

    nav img {
        margin-left: 1rem;
    }

    main aside .excerciseCard {
        display: flex;
    }

    main aside ul li p,
    main aside h1 {
        display: flex;
    }

    main aside {
        width: 25vw;
    }

    main aside ul li img {
        padding-left: 1.2vw;
        padding-right: 1vw;
        margin-left: 0;
        margin-right: 0;
    }

    .counter table tr td:nth-child(n+2) {
        font-size: 6em;
    }

    #bottomText {
        font-size: 2em;
    }

    .counter table td img {
        width: 60%;
        height: 60%;
        margin-left: auto;
        text-align: center;
    }

    main .todayStatus {
        width: 34vw;
    }

    main .todayStatus table tr:nth-child(2n) td:nth-child(2n),
    main .todayStatus table tr:nth-child(2n) td:nth-child(2n+1) {
        font-size: .8em;
    }

    main .todayStatus table td {
        padding-right: .8rem;
        padding-left: .8rem;
    }

    main .statisticsSec {
        width: 34vw;
    }

    main .rightLeftGraphParts {
        flex-direction: row;
    }

    .secondTopSec {
        display: flex;
    }

    main .bottomContentSec {
        flex-direction: row;
    }

    main .bottomContentSec {
        flex-direction: row;
    }

    main .CircleGraphSec {
        width: 34vw;
    }

    main .topPerformerSec {
        width: 34vw;
    }

    main .rightCircleGraph {
        /* width: 50%; */
    }

    .rightCircleGraph svg {
        width: 80%;
        height: 80%;
    }
}