body {
    background-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    padding: .3rem .3rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

nav input[type=search] {
    border: solid;
    padding: .5rem 0 .5rem 2rem;
    border-radius: 10px;
    background: url(../images/search\ .png) no-repeat .7rem .5rem;
    background-size: 1rem;
    margin: .5rem 0;
}

nav img {
    width: 1.7rem;
    height: 1.7rem;
}

main {
    margin: 1rem;
    /* display: flex;
    flex-direction: column; */
}

main aside {
    display: flex;
    flex-direction: column;
    width: 30vw;
    border-radius: 20px 0 0 20px;
    background-color: blue;
    min-height: 100vh;
    /* background-image: linear-gradient(#2C4EA7, #122C6D); */
}

main aside ul {
    list-style: none;
    color: white;
    background-color:  blue;
    border-radius: 20px 0 0 20px;
}

main aside ul li {
    display: flex;
    align-items: center;
    padding: .5rem 0;
    margin-left: 1rem;
    position: relative;
    padding: 1rem 0;
}

main aside ul li b:nth-child(1){
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: gray;
}

main aside ul li b:nth-child(1)::before{
    content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-bottom-right-radius: 20px;
     background-color: blue;
}

main aside ul li b:nth-child(2){
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: gray;
}

main aside ul li b:nth-child(2)::before{
    content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-top-right-radius: 20px;
     background-color: blue;
}

main aside ul li img {
    width: 5vw;
    padding-left: 1.2vw;
    padding-right: 1vw;
    filter: brightness(0) invert(1);
}

main aside ul li:first-child {
    align-items: flex-end;
}

main aside ul li:first-child img {
    width: 20%;
}


main aside ul li:first-child{
    padding-bottom: 2rem;
    border-radius: 0 0 20px 0;
}

.activeAside{
    background-color: gray;
    color: black;
    border-radius: 100px 0 0 100px;
}

main aside .excerciseCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin: auto auto 2rem auto;
    border-radius: 20px;
    padding: 1rem;
    width: 30vh;
    height: 30vh;
}

main aside .excerciseCard i{
    margin-left: auto;
}

main aside .excerciseCard img{
    width: 70%;
    height: 70%;
    margin: 2rem auto;
}

@media only screen and (min-width: 600px) {

    nav {
        flex-direction: row;
    }

    nav input[type=search] {
        margin-left: auto;
    }

    nav h2 {
        margin: 0 auto 0 0;
    }

    nav img {
        margin-left: 1rem;
    }

}

